a.auction-link {
    text-decoration: none;
    color: #171717;
}

a.auction-link:hover {
    color: #5a5a5a;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 73px;
    margin-bottom: 60px;
    font-family: "Montserrat";
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*pagination styles*/

.pagination > li > a {
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #5a5a5a !Important;
    border: solid 1px #454545 !Important;
}

.pagination > .active > a:hover {
    background-color: #4e4e4e !Important;
    border: solid 1px #212121;
}
