@{
    ViewData["Title"] = "Main Page";
}

<h2 class="display-1">Main Page</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Вы вошли как @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="btn btn-primary">Выйти из учетной записи</button>
    </form>
    <form method="post" asp-controller="Home" asp-action="SendMessageToBot">
        <div class="mb-3">
            <label class="form-label">Отправить сообщение боту:</label>
            <input class="form-control" name="msg">
            <div class="form-text">Не более 150 символов</div>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary" >Отправить</button>
        </div>
    </form>
}
else
{
    <p>Выполните вход в аккаунт</p>
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
