@{
    ViewData["Title"] = "Правила";
}

<div class="row justify-content-center pb-3">
    <div class="col-md-8">
        <div class="card mt-lg-3 rounded-0">
            <div class="card-body">
                <h4 class="card-title text-center mb-3">Правила интернет-аукциона "Tech Sale"</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><b>1. </b>В&nbsp;интернет-аукционе могут принимать участие только зарегистрированные в&nbsp;системе пользователи.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>2. </b>Прежде чем выставить лот на&nbsp;аукцион, лот будет проверен модератором на&nbsp;отсутствие запрещённых материалов.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>3. </b>Дату и&nbsp;время проведения аукциона конкретного лота устанавливает продавец.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>4. </b>Интернет-аукцион проводится путем повышения начальной цены лота, указанной продавцом.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>5. </b>Величина (шаг) ставки указывается продавцом.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>6. </b>При проведении интернет-аукциона его участники подают предложения о&nbsp;цене лота, предусматривающие повышение текущего предложения о&nbsp;цене лота на&nbsp;величину (шаг) ставки.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>7. </b>Участник такого аукциона не&nbsp;вправе подать предложение о&nbsp;цене лота, равное ранее поданному другим участником предложению о&nbsp;его цене или меньшее, чем оно.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>8. </b>От&nbsp;начала проведения интернет-аукциона на&nbsp;площадке до&nbsp;истечения срока подачи предложений о&nbsp;цене лота, должны быть указаны в&nbsp;обязательном порядке все предложения о&nbsp;цене лота и&nbsp;время их&nbsp;поступления, а&nbsp;также время, оставшееся до&nbsp;истечения срока подачи предложений о&nbsp;его цене.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>9. </b>При регистрации можно указать имя пользователя в&nbsp;Telegram для получения оповещений.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>10. </b>Наш Telegram-бот обязательно оповестит вас об&nbsp;изменении цены лота, на&nbsp;который&nbsp;Вы сделали ставку.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>11. </b>В&nbsp;случае, если после истечения подачи предложений о&nbsp;цене лота ваша ставка окажется последней, Вы&nbsp;становитесь победителем аукциона на&nbsp;данный лот.</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><b>12. </b>Для получения лота в&nbsp;собственное владение свяжитесь с&nbsp;продавцом.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
