@using DataAccessLogic.DatabaseModels

@model AuctionLot

<div class="col">
    <div class="card h-100 rounded-0 bg-light">
        <div class="card-header text-center"><h5 class="py-0 my-0">На модерации</h5></div>
        <img src="@Model.PhotoSrc" class="card-img-top rounded-0" alt="...">
        <div class="card-body">
            <a class="auction-link" asp-action="OpenLot" asp-controller="User" asp-route-id="@Model.Id">
                <h5 class="card-title">@Model.Name</h5>
            </a>
        </div>
        <div class="card-footer border-top-0 bg-light">
            <a asp-action="OpenLot" asp-controller="User" asp-route-id="@Model.Id" class="my-2 btn btn-lg btn-dark rounded-0 d-block">Подробнее</a>
        </div>
    </div>
</div>
